.game-side {
  background-color: orange;
  height: 400px;
}

.game-board {
  margin: 20px auto;
  padding: 20px;
  position: relative;
  border: 3px dotted green;
  overflow: auto;
}

.game-board-square {
  background-color: blue;
  color: white;
  text-align: center;
  height: 100px;
  width: 100px;
  float: left;
}

.game-piece {
  max-width: 100%;
  max-height: 60%;
  margin: 20px auto;

}

.mid-left, .bottom-left {
  clear: left;
}

.moves {
  padding: 30px;
  background-color: red;
  height: 400px;
  text-align: center;
}

.hypno-moves-left {
  border: 1px dotted green;
  height: 100px;
  margin: 20px;
}

.neema-moves-left {
  border: 1px dotted green;
  height: 100px;
  margin: 20px;
}

/* SETS THE BOARD LINES */
.top-right, .mid-right, .bottom-right {
  border-left: 3px solid black;
}

.top-left, .mid-left, .bottom-left {
  border-right: 3px solid black;
}

.top-left, .top-center, .top-right {
  border-bottom: 3px solid black;
}

.bottom-left, .bottom-center, .bottom-right {
  border-top: 3px solid black;
}
