.game-side {
  background-color: orange;
  height: 400px;
}

.game-board {
  margin: 40px 0 0 40px;
  position: relative;
  border: 3px dotted green;
  overflow: auto;
}

.game-board-square {
  background-color: blue;
  color: white;
  text-align: center;
  height: 100px;
  width: 100px;
  float: left;
}

.moves {
  background-color: red;
  height: 400px;
}

.x-moves-left {
  border: 1px dotted green;
  height: 100px;
  margin: 20px;
}

.o-moves-left {
  border: 1px dotted green;
  height: 100px;
  margin: 20px;
}

.mid-left, .bottom-left {
  clear: left;
}
/* SETS THE BOARD LINES */
.top-right, .mid-right, .bottom-right {
  border-left: 3px solid black;
}

.top-left, .mid-left, .bottom-left {
  border-right: 3px solid black;
}

.top-left, .top-center, .top-right {
  border-bottom: 3px solid black;
}

.bottom-left, .bottom-center, .bottom-right {
  border-top: 3px solid black;
}
