body {
  background-color: #0a5330 !important;



}

.game-side {
  height: 400px;
}

.game-board {
  margin: 20px auto;
  padding: 20px;
  position: relative;
  overflow: auto;
}

.game-board-square {
  text-align: center;
  height: 125px;
  width: 125px;
  float: left;
}

.game-piece {
  max-width: 100%;
  max-height: 60%;
  margin: 20px auto;

}

.mid-left, .bottom-left {
  clear: left;
}

.right-side {
  padding: 30px;
  height: 400px;
  text-align: center;
}

.wins {
  /*padding: 10px;*/
}

.unavailable {
  /*mixin for shading background?*/
  background-image: url("../../images/scales_background.jpg") !important;
  background-size: contain;
}

.hypno-moves-left {
  border: 1px dotted green;
  height: 100px;
  margin: 20px;
}

.neema-moves-left {
  border: 1px dotted green;
  height: 100px;
  margin: 20px;
}

/* SETS THE BOARD LINES */
.top-right, .mid-right, .bottom-right {
  border-left: 5px solid black;
}

.top-left, .mid-left, .bottom-left {
  border-right: 5px solid black;
}

.top-left, .top-center, .top-right {
  border-bottom: 5px solid black;
}

.bottom-left, .bottom-center, .bottom-right {
  border-top: 5px solid black;
}

.top-left {
  border-radius: 7px 0 0 0;
}

.top-right {
  border-radius: 0 7px 0 0;
}

.bottom-right {
  border-radius: 0 0 7px 0;
}

.bottom-left {
  border-radius: 0 0 0 7px;
}
